$fondo-pagina: rgb(226, 204, 208);

$fuente-titulos: 'Island Moments', cursiva;
$fuente-subtitulos: 'Kanit', sans-serif;
$fuente-parrafos: 'Noto Sans', sans-serif;
$fuente-anclas: 'Langosta', cursiva;
$fuente-titulos-cards: 'Satisfacer', cursiva;
$fuente-minititulos: 'Dancing Script', cursiva;
$fuente-copetes: 'Crimson Text', serif;

$color-letra: black;
$color-letra-2: rgb(159, 79, 159)